<div class="container">
    <div class="margin-top-30">
        <app-search-input 
            (queryEmitter)="changeSearchTerm($event)" 
            [initialSearchTerm]="term" 
            [realTime]="true"
        >
        </app-search-input>
    </div>
    <div *ngIf="movies; else loading" class="my-3">
        <div *ngIf="movies.length; else noResult">
            <h2 class="mt-3">Results For: <span class="text-danger">( {{searchTerm.value}} )</span></h2>
            <app-movie-card 
                class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 g-4 container mx-auto my-5"
                [moviesDataResponse]="movies"
            ></app-movie-card>
        </div>
    </div>    
</div>

<ng-template #noResult>
    <div class="d-flex align-items-center justify-content-center w-100 vh-100">
        <p class="text-center text-muted h2">
            I'm sorry, but the result of <span class="text-danger">( {{searchTerm.value}} )</span> you're searching for cannot be located at this time. 
            Please try a different search query or check back later for possible updates.
        </p>
    </div>
</ng-template>

<ng-template #loading>
    <div class="d-flex justify-content-center align-items-center">
      <ngx-spinner
        bdColor="rgba(20,20,20,0.6)"
        size="medium"
        color="#fff"
        type="pacman"
      >
        <p class="fs-1 text-center text-muted">Loading...</p>
      </ngx-spinner>
    </div>
</ng-template>