 #dp-container {
  min-height: 100vh;
  margin: 0 auto !important;
}

/* .inner-container {
  height: 80vh !important;
}

.backdrop {
  z-index: -1;
  filter: blur(2px);
}  */
.fav-btn {
  cursor: pointer;
}

.btn-warning {
  background-color: rgb(255, 227, 83) !important;
}