
<div id="dp-container" *ngIf="movie; else loading" class="d-flex justify-content-center align-items-center">
    <div class="inner-container w-100 overflow-hidden position-relative d-flex justify-content-center">
        <div class="w-100 h-100 overflow-hidden position-absolute backdrop-container backdrop" [ngStyle]="{'background': 'url(' + baseURL+movie.backdrop_path+ ') no-repeat center center/ cover fixed'}">
            <!-- <img [src]="baseURL+movie.backdrop_path" class="w-100 opacity-35 center z-0" style="min-height: 100%;"> -->
        </div>
        <div class="container d-flex justify-content-between align-items-center py-3 z-10">
            <div class="row">
                <div class="col-3 ">
                    <img [src]="baseURL+movie.poster_path" class=" w-100 opacity-100 rounded-3">
                </div>
                <div class="col-9 d-flex justify-content-center flex-column">
                    <div>
                        <h1 class="m-0 p-0 text-white">{{movie.title}} ( {{movie.release_date|extractYear}} )</h1>
                        <p class="text-white fw-bold link-opacity-75-hover">
                            <span>{{movie.release_date}}</span>
                            <span class="text-uppercase pe-2 me-2 border-end"> ( {{movie.original_language}} )</span>
                            <span *ngFor="let g of movie.genres">
                                <span> {{g.name}} </span>
                                <span class="fs-4"> &#x2022; </span>
                            </span>
                            <span> ( {{movie.runtime|convertTime}} ) </span>
                        </p>
                    </div>
                    <hr class="text-white">
                    <div> 
                        <h2 class="text-white">Overview: </h2>
                        <p class="text-white fw-bold">{{movie.overview}}</p>
                    </div>

                    <hr class="text-white">

                    <div>
                        <p class="text-white fst-italic fs-5 italic"><em>{{movie.tagline}}</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <ngx-spinner 
        bdColor = "rgba(51,51,51,0.8)" 
        size = "medium" color = "#fff" 
        type = "pacman" 
    >
        <p style="color: white" class="fs-1 text-center" > Loading... </p>
    </ngx-spinner>
</ng-template>