<div class="col p-2">
    <div class="rounded-4 shadow p-4">
        <div class="row">
            <div class="col-lg-5 col-md-4">
                <div id="img-container">
                    <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="" class="rounded-4 hover-pointer"
                        style="object-fit: cover; width: inherit; height: inherit;" routerLink="/details/{{movie.id}}">
                </div>
            </div>
            <div class="col">
                <div class="w-100">
                    <div class="w-100 d-flex align-items-center justify-content-between mt-3">
                        <h3 routerLink="/details/{{movie.id}}" class="title-link hover-pointer">{{movie.title}}</h3>
                        <fa-icon class="unlike-btn hover-pointer" [icon]="heartIcon" size="xl"
                            (click)="removeFromFavorite(movie)"></fa-icon>
                    </div>
                    <p style="color: #858585; font-size: small;">{{movie.release_date | date }}</p>
                    <div class="mt-2 mb-3" style="vertical-align: middle;">
                        <div class="me-2 d-inline-block">
                            <fa-icon [icon]="starIcon" class="me-1" *ngFor="let star of [].constructor(rate)"></fa-icon>
                            <fa-icon [icon]="outlinedStarIcon" class="me-1"
                                *ngFor="let star of [].constructor(5-rate)"></fa-icon>
                        </div>
                        <span>{{movie.vote_count}}</span>
                    </div>
                    <p>{{movie.overview | clipText: '150'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>