#img-container {
  height: 250px;
  width: 180px;
}
#img-container img {
  transition: all 0.3s ease-in-out;
}
#img-container img:hover {
  scale: 1.1;
}
.hover-pointer:hover {
  cursor: pointer;
}
.title-link:hover {
  transition: all 0.3s ease-in-out;
  color: #ffe353;
}
.unlike-btn {
  color: #ffe353;
  transition: all 0.3s ease-in-out;
}
.unlike-btn:hover {
  scale: 1.2;
}
.unlike-btn:active {
  color: black;
}
@media (max-width: 1200px) {
  #img-container {
    width: 150px;
  }
}
@media (max-width: 768px) {
  #img-container {
    width: 100%;
  }
}
