<form>
    <div class=" d-flex flex-row align-items-center justify-content-center">
        <div class="w-75 mx-3">
            <input [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" class="form-control w-100 shadow-sm rounded-4 p-2" placeholder="Search" >
        </div>
        <button class="p-3 search-icon border-0" (click)="emitSearchQuery()">
            <fa-icon
                [icon]="faSearch"
                style="color: black"
                size="lg"
                class="p-0 m-0 my-auto search-icon">
            </fa-icon>
        </button>
    </div>
</form>