/* You can add global styles to this file, and also import other style files */

:root {
    --main_yellow: rgb(255, 227, 83);
    --main-gray: rgb(243, 241, 241)
}

.nav-app {
    background-color: var(--main_yellow) !important;
}