/* You can add global styles to this file, and also import other style files */

:root {
    --main_yellow: rgb(255, 227, 83);
    --main-gray: rgb(243, 241, 241)
}

.nav-app {
    background-color: var(--main_yellow) !important;
}

.search-icon {
    background-color: var(--main_yellow);
    border-radius: 10px;
}

.search-icon:hover {
    opacity: 0.8;
    box-shadow: -5px 3px 10px rgba(255, 200, 0, 0.1);
    transition: 0.5s;
}