<div
  class="container vh-100 d-flex justify-content-center align-items-center my-auto"
>
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right my-5">
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <img
            class="img-error"
            src="https://bootdey.com/img/Content/fdfadfadsfadoh.png"
          />
          <h2>404 Not Found</h2>
          <p>Sorry, an error has occured, Requested page not found!</p>
          <div class="error-actions">
            <a routerLink="/" class="btn btn-primary btn-lg"> Back Home </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
