<footer class="text-center py-1" style="background-color: rgb(255, 227, 83)">
  <div class="w-75 mx-auto mt-3 d-flex flex-column justify-content-center text-black">

    <p class="lead">This project is part of &copy;ITI intensive training program by:</p>
    <div class="w-50 d-flex flex-row align-items-center justify-content-between mx-auto">
      <a class="link-offset-2 link-underline link-underline-opacity-0 text-center d-flex"
        href="https://www.linkedin.com/in/ayaa-othman/" target="_blank">
        <i class="fa-brands fa-linkedin me-2 fs-3" style="color: black"></i>
        <p class="fw-bold text-black">Aya Othman</p>
      </a>
      <a class="link-offset-2 link-underline link-underline-opacity-0 d-flex"
        href="https://www.linkedin.com/in/ahmed-yousry-20146a212/" target="_blank">
        <i class="fa-brands fa-linkedin me-2 fs-3" style="color: black"></i>
        <p class="fw-bold text-black">Ahmed Yousry</p>
      </a>
      <a class="link-offset-2 link-underline link-underline-opacity-0 text-center d-flex"
        href="https://www.linkedin.com/in/abdelrhman-sherif/" target="_blank">
        <i class="fa-brands fa-linkedin me-2 fs-3" style="color: black"></i>
        <p class="fw-bold text-black">Abdelrhman Sherif</p>
      </a>
    </div>
  </div>
  <!-- <div class="text-center text-dark p-3 mx-auto">
  <span class="text-center"> © 2023 Copyright: </span>
  <a class="text-dark" href="https://iti.gov.eg/iti/home">ITI</a>
  </div> -->
</footer>