<footer class="text-center text-white" style="background-color: rgb(255, 227, 83);"> 
    <!-- Copyright -->
    <div class="text-center text-dark p-3">
      © 2023 Copyright:
      <a class="text-dark" href="https://iti.gov.eg/iti/home">ITI</a>
    </div>
    <div class="w-75 d-flex flex-row align-items-center justify-content-between">
      © Team:
      <a class="text-dark" href="">Aya Othman</a>
      <a class="text-dark" href="https://www.linkedin.com/in/ahmed-yousry-20146a212/">Ahmed Yousry</a>
      <a class="text-dark" href="">Abdularahman Sherif</a>
    </div>
</footer>