<footer class="text-center py-1" style="background-color: rgb(255, 227, 83)">
  <div class="w-75 mx-auto mt-3 d-flex flex-column justify-content-center text-black align-items-center">

    <p class="lead">This project is part of &copy;ITI intensive training program by:</p>
    <div class="row row-cols-1 row-cols-md-3">
      <a class="col text-center d-flex linkedIn-link" href="https://www.linkedin.com/in/ayaa-othman/" target="_blank">
        <i class="fa-brands fa-linkedin me-2 fs-3" style="color: black"></i>
        <p class="fw-bold text-black">Aya&nbsp;Othman</p>
      </a>
      <a class="col text-center d-flex linkedIn-link" href="https://www.linkedin.com/in/ahmed-yousry-20146a212/"
        target="_blank">
        <i class="fa-brands fa-linkedin me-2 fs-3" style="color: black"></i>
        <p class="fw-bold text-black">Ahmed&nbsp;Yousry</p>
      </a>
      <a class="col text-center d-flex linkedIn-link" href="https://www.linkedin.com/in/abdelrhman-sherif/" target="_blank">
        <i class="fa-brands fa-linkedin me-2 fs-3" style="color: black"></i>
        <p class="fw-bold text-black">Abdelrhman&nbsp;Sherif</p>
      </a>
    </div>
  </div>
  <!-- <div class="text-center text-dark p-3 mx-auto">
  <span class="text-center"> © 2023 Copyright: </span>
  <a class="text-dark" href="https://iti.gov.eg/iti/home">ITI</a>
  </div> -->
</footer>